<!--The content below is only a placeholder and can be replaced.-->
<form>
  <p-fieldset legend="Cadastro Pessoa" [toggleable]="true" class="fieldset-auto">
    <table cellspacing="10">
      <tr>
        <td>
          Nome:
          <input type="text" pInputText />
        </td>
        <td>
          Sobrenome:
          <input type="text" pInputText />
        </td>
      </tr>
      <tr>
        <td colspan="2">Sexo:
          <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedValue"></p-radioButton>
          Masculino
          <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue"></p-radioButton>
          Feminino
        </td>
      </tr>
      <tr>
        <td>
            <button pButton type="button" label="Enviar" ></button>
        </td>
      </tr>
    </table>
  </p-fieldset>
</form>